---
import Layout from "../layouts/Layout.astro";
import NewSessionDialog from "../components/NewSessionDialog.vue";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto text-black text-center">
    <NewSessionDialog client:only />
  </main>
</Layout>
